<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes</title>
    <style>
        a {
            display: block;
            padding: 10px;
            border: 1px solid black;
            background-color: antiquewhite;
            text-align: center;
            text-decoration: none;

        }
    </style>
</head>
<body>
    <h1>Filmes</h1>

    <a href="{{url_for('cadastro')}}">Cadastrar Preferências</a>
    <a href="">Ver Preferências</a>


</body>
</html>