{% extends 'base.html' %}

{% block conteudo %}


<div class="banner_blog">
    <img src="/static/images/Blog.jpg" alt="banner">
</div>

<div class="container">
    <div class="dicas">
        <h1>Título da dica</h1>
        <img src="url.img" alt="imagem_dica">
        
        <p>curto somente com o início da dica</p>

        <a href="link para a dica">Ler mais</a>

        <p>Compartilhe nas suas redes sociais!</p>

        <a href="#">
	        <img width="30" height="30" src="/static/images/facebook.png" alt="">
        </a>
        <a href="#">
	        <img width="30" height="30" src="/static/images/whatsapp.png" alt="">
        </a>
        <a href="#">
	        <img width="30" height="30" src="/static/images/instagram.png" alt="">
        </a>
    </div>

    
</div>


{% endblock %}