{% extends 'base.html' %}


{% block title %}
    Página Inicial
{% endblock %}

{% block conteudo %}
<div class="inicial">
    🐂 Bem-vindo à Loja Sertaneja 🐎 <br><br>
Na nossa loja, tradição e estilo andam juntos!
Aqui você encontra tudo para o vaqueiro moderno: gibão, bota, espora, carralo, chapéu, óculos, capacete e muito mais — com qualidade, preço justo e aquele toque do sertão que você respeita.
<br>
Nosso objetivo é oferecer praticidade na compra, produtos selecionados e uma experiência de navegação simples, rápida e segura.
<br>
Cadastre-se, explore os produtos e monte seu carrinho!
<br><br>
Seja bem-vindo e boas compras! 🤠
</div>
{% endblock %}